<p style="color: green"><%= notice %></p>

<%= render @rich_text_test %>

<div>
  <%= link_to "Edit this rich text test", edit_rich_text_test_path(@rich_text_test) %> |
  <%= link_to "Back to rich text tests", rich_text_tests_path %>

  <%= button_to "Destroy this rich text test", @rich_text_test, method: :delete %>
</div>
